%li.chat-message
  .chat-message__header
    %p.chat-message__header__name
      = message.user.name
    %p.chat-message__header__time
      = message.created_time
  %br/
  %p.chat-message__body
    = message.body
