.chat
  = render 'groups/side'

  .chat-main
    .chat-header
      .chat-header--left
        = @group.name
        %p.chat-header__users
          Member:
          - @group.users.pluck(:name).each do |name|
            = name
      .chat-header--right
        = link_to 'Edit', edit_group_path(@group), class: 'chat-header__edit-btn'

    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header
            %p.chat-message__header__name 篠田
            %p.chat-message__header__time 2016/12/10 07:07:21
          %br/
          %p.chat-message__body あああああああああ
        %li.chat-message
          .chat-message__header
            %p.chat-message__header__name 篠田
            %p.chat-message__header__time 2016/12/17 16:05:46
          %br/
          %p.chat-message__body いいいいいいいいいい
        %li.chat-message
          .chat-message__header
            %p.chat-message__header__name 篠田
            %p.chat-message__header__time 2016/12/23 15:39:45
          %br/
          %p.chat-message__body うううううううううう

    .chat-footer
      .footer__body
        %textarea(placeholder="type a message")
        %a
          %i.fa.fa-picture-o
        %input(type="submit" value="Send")