.chat-body {
    position: relative;
	padding-left: 40px;
	padding-right: 40px;
	height: calc(100vh - 190px);
	overflow-y: scroll;
	background-color: white;
}

.chat-messages {
	position: absolute;
	right: 40px;
	left: 40px;
	lift-style: none;
	padding: 0;
}

.chat-message {
	margin-bottom: 40px;
}

.chat-message:first-child {
	padding-top: 30px;
}

.chat-message__header {
	line-height: 20px;
}

.chat-message__name {
	float: left;
	margin-bottom: 10px;
	font-size: 16px;
	color: #434A54;
}

.chat-message__time {
    float: left;
    margin-left: 10px;
	color: #999999;
	font-size: 14px;
}

.chat-message__body {
	font-size: 14px;
    color: #434A54;
}
