.chat-body {
    position: relative;
	padding: 0 40px;
	height: calc(100vh - 190px);
	overflow-y: scroll;
	background-color: white;
	.chat-messages {
		position: absolute;
		right: 40px;
		left: 40px;
		list-style: none;
		padding: 0;
		.chat-message {
		    margin-bottom: 40px;
			&__header {
				line-height: 20px;
				.chat-message__name {
					float: left;
					margin-bottom: 10px;
					font-size: name-fs;
					color: $message-fc;
				}

				.chat-message__time {
				    float: left;
				    margin-left: 10px;
					color: #999999;
					font-size: message-fs;
				}
			}
			&__body {
				font-size: message-fs;
			    color: $message-fc;
			}
		}
	}
	.chat-message:first-child {
		padding-top: 30px;
	}
}